  <!-- Header -->
  <header class="site-header">
    <a href="index.html" class="logo">
      <img src="logo.png" alt="Kellen Ulrich" class="logo-img">
    </a>
    
    <button class="mobile-menu-toggle" aria-label="Toggle menu" aria-expanded="false">
      <span class="hamburger"></span>
    </button>

    <nav class="main-nav" role="navigation">
      <ul class="nav-list">
        <li class="nav-item has-dropdown">
          <a href="#" class="nav-link">Portfolio</a>
          <ul class="dropdown-menu">
            <li><a href="portfolio.html#category-1">Architecture</a></li>
            <li><a href="portfolio.html#category-2">Icons</a></li>
            <li><a href="portfolio.html#category-3">Replicas</a></li>
            <li><a href="portfolio.html#category-4">Vignettes</a></li>
          </ul>
        </li>
        <li class="nav-item has-dropdown">
          <a href="#" class="nav-link">About</a>
          <ul class="dropdown-menu">
            <li><a href="about.html">About Me</a></li>
            <li><a href="faq.html">FAQ</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a href="commissions.html" class="nav-link">Commissions</a>
        </li>
        <li class="nav-item">
          <a href="contact.html" class="nav-link">Contact</a>
        </li>
      </ul>
    </nav>
  </header>
