  <!-- Header -->
  <header class="site-header">
    <a href="index.html" class="logo">
      <img src="logo.png" alt="Kellen Ulrich" class="logo-img">
    </a>

    <nav class="main-nav" role="navigation">
      <ul class="nav-list">
        <li class="nav-item has-dropdown">
          <a href="#" class="nav-link">Portfolio</a>
          <ul class="dropdown-menu">
            <li><a href="portfolio.html#category-1">Architecture</a></li>
            <li><a href="portfolio.html#category-2">Castle</a></li>
            <li><a href="portfolio.html#category-3">Icons</a></li>
            <li><a href="portfolio.html#category-4">Mosiacs</a></li>
            <li><a href="portfolio.html#category-5">Replicas</a></li>
            <li><a href="portfolio.html#category-6">Vignettes</a></li>
          </ul>
        </li>
        <li class="nav-item has-dropdown">
          <a href="#" class="nav-link">About</a>
          <ul class="dropdown-menu">
            <li><a href="about.html">About Me</a></li>
            <li><a href="blog.html">Blog</a></li>
            <li><a href="faq.html">FAQ</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a href="commissions.html" class="nav-link">Commissions</a>
        </li>
        <li class="nav-item">
          <a href="contact.html" class="nav-link">Contact</a>
        </li>
      </ul>
    </nav>
  </header>
